/* Double panel with digit and offset */
#box1-1 .title{height:45px; background-image: url(../imgs/double-panel.gif);}
#box1-1{height:118px; background:url(../imgs/2_1_specialoffers_banner.gif) 220px 0px no-repeat;}
html>body #box1-1 {min-height: 118px; height: auto;}

